@charset "UTF-8";

:root {
	--div-account-top-width: 1540px;
	
	--account-top-height: 170px;
	
	--account-margin-top: 45px;
	--account-margin-left: 30px;
	
	--account-item-height: 55px;
	
	--item-height: 45px;
	--item-margin-left: 25px;
	
	--account-item-margin-top: calc((var(--account-item-height) - var(--item-height)) / 2);
}

.div_account {
	width: var(--div-account-top-width);
	
    margin-left: var(--account-margin-left);
    
    background-color: white;
}
#div_account_top {
    height: var(--account-top-height);
    
    margin-top: var(--account-margin-top);
}

#a_account_manager {
	position:absolute;
	
	margin-top: 25px;
	margin-left: var(--item-margin-left);
	
	font-size: 48px;
}

#btn_account_add {
	position:absolute;
	width: 130px;
    height: var(--item-height);
	left: 1385px;
    
    margin-top: 35px;
    
    font-size: 28px;
}

#div_account_title {
	position: absolute;
	
	top: calc(110px + var(--account-margin-top));
	
	margin-bottom: 5px;
	
	background-color: #8da4b9;
}

.div_account_title {
	width: calc(var(--div-account-top-width) - 50px);
    height: var(--account-item-height);
    
    margin-left: var(--item-margin-left);
}

.div_account_title_num {
	width: 60px;
    height: var(--item-height);
    
    margin-top: var(--account-item-margin-top);
    margin-left: 10px;
    margin-right: 10px;
    
    float: left;
    
    font-size: 28px;
    text-align: center;
    
    color: white;
}

.div_account_title_item {
	width: 275px;
    height: var(--item-height);
    
    margin-top: var(--account-item-margin-top);
    
    float: left;
    
    font-size: 28px;
    text-align: center;
    
    color: white;
}

.a_account_num {
	width: 60px;
	
	margin-top: calc((var(--account-item-height) - 36px) / 2);
    margin-left: 10px;
    margin-right: 10px;
    
    display: block;
    float: left;
    
    font-size: 28px;
    text-align: center;
}

.in_account_item {
	width: 270px;
    height: var(--item-height);
    
    margin-top: var(--account-item-margin-top);
    margin-right: 5px;
    
    padding-left: 10px;
    
    font-size: 28px;
    
    color: black;
    background-color: white;
}

.div_account_button {
	width: 130px;
    height: var(--item-height);
    
    margin-top: var(--account-item-margin-top);
    margin-right: 10px;
    
    font-size: 28px;
}

#div_account_bottom {
    height: 70px;
}