@charset "UTF-8";

:root {
	--div-account-top-width: 1540px;
	
	--account-top-height: 170px;
	
	--account-margin-top: 45px;
	--account-margin-left: 30px;
	
	--account-item-height: 45px;
	
	--item-margin-left: 25px;
	
	--div-account-title-width: calc(var(--div-account-top-width) - (var(--item-margin-left) * 2));
	
	--a-account-title-num-width: 80px;
	--a-account-title-item-width: 275px;
	
	--div-account-button-width: 130px;
}

.div_account {
	width: var(--div-account-top-width);
	
    margin-left: var(--account-margin-left);
    
    background-color: white;
}
#div_account_top {
    height: var(--account-top-height);
    
    margin-top: var(--account-margin-top);
}

#a_account_title {
	position:absolute;
	
	margin-top: 25px;
	margin-left: var(--item-margin-left);
	
	font-size: 48px;
}

#btn_account_add {
	position:absolute;
	width: 130px;
    height: var(--account-item-height);
	left: 1385px;
    
    margin-top: 35px;
    
    font-size: 28px;
}

#div_account_title {
	position: absolute;
	
	top: calc(110px + var(--account-margin-top));
	
	background-color: #8da4b9;
}

.div_account_title {
	width: var(--div-account-title-width);
    height: var(--account-item-height);
    
    margin-left: var(--item-margin-left);
    
    padding-top: 5px;
    padding-bottom: 5px;
}

.a_account_title_num {
	width: var(--a-account-title-num-width);
    height: var(--account-item-height);
    line-height: var(--account-item-height);
    
    display: block;
    float: left;
    
    font-size: 28px;
    text-align: center;
    
    color: white;
}

.a_account_title_item {
	width: var(--a-account-title-item-width);
    height: var(--account-item-height);
    line-height: var(--account-item-height);
    
    display: block;
    float: left;
    
    font-size: 28px;
    text-align: center;
    
    color: white;
}

.a_account_num {
	width: var(--a-account-title-num-width);
	height: var(--account-item-height);
    line-height: var(--account-item-height);
    
    display: block;
    float: left;
    
    font-size: 28px;
    text-align: center;
}

.a_account_item {
	width: calc(var(--a-account-title-item-width) - 15px);
    height: var(--notice-item-height);
    line-height: var(--notice-item-height);
    
    margin-right: 5px;
    
    padding-left: 15px;
    
    display: block;
    float: left;
    
    font-size: 28px;
}

.div_account_item_input {
	width: var(--div-account-title-width);
    
    margin-left: var(--item-margin-left);
    
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color:#e9e9e9;
}

.in_account_item {
	width: var(--a-account-title-item-width);
    height: var(--account-item-height);
    line-height: var(--account-item-height);
    
    margin-right: 5px;
    
    padding-left: 15px;
    
    font-size: 28px;
    
    color: black;
    background-color: white;
}

.in_account_item_select {
	width: var(--a-account-title-item-width);
    height: var(--account-item-height);
    line-height: var(--account-item-height);
    
    margin-top: 1px;
    margin-right: 5px;
    
    padding-left: 15px;
    
    font-size: 28px;
    
    color: black;
    background-color: white;
}

.div_account_button {
	width: var(--div-account-button-width);
    height: var(--notice-item-height);
    line-height: var(--notice-item-height);

    margin-right: 10px;
    
    font-size: 28px;
}

.div_account_divide_line {
	width: var(--div-account-title-width);
    height: 1px;
    
    margin-left: var(--item-margin-left);
    
    background-color: #e9e9e9;
}

#div_account_bottom {
    height: 70px;
}