@charset "UTF-8";

:root {
	--company-top-height: 173px;
	
	--company-margin-top: 45px;
	--company-margin-left: 15px;
	
	--company-item-height: 35px;
	--company-item-in-height: 28px;
	
	--company-list-margin-top: 30px;
	
	--item-margin-left: 15px;
	
	/* --input-item-height: 35px; */
	
	--div-company-contents-list-width: 300px;
	--div-company-title-top: calc(75px + var(--company-margin-top));
	
	--div-company-list-title-width: calc(var(--div-company-contents-list-width) - (var(--item-margin-left) * 2));
	--div-company-list-title-num-width: 50px;
	
	--div-company-contents-detail-width: 790px;

	--div-company-detail-title-width: calc(var(--div-company-contents-detail-width) - (var(--item-margin-left) * 2));
	--a-company-detail-title-item-width: 180px;
}

#div_loading{
	width: 300px;
	height: 200px;
	top: 515px;
	left: calc((var(--div-company-contents-detail-width) - 300px)/2);
	background-color: #ebebeb;
	z-index: 1;
	position: absolute;
	display: none;
	border-radius: 20px 20px 20px 20px;
	
}

#div_contents {
	height : 1315px;
}

#div_contents_list {
	position:absolute;
	width: var(--div-company-contents-list-width);
	
	margin-top: var(--company-margin-top);
    margin-left: var(--company-margin-left);
}

.div_company_list {
    background-color: white;
    font-size: 16px;
}

#div_company_list_top {
	width: var(--div-company-contents-list-width);
    height: var(--company-top-height);
    
    border-radius: 20px 20px 0px 0px;
}

#div_company_list_title {
	position: absolute;
	
	top: var(--company-list-margin-top);
}

.div_company_list_title {
	width: var(--div-company-list-title-width);
    height: var(--company-item-height);
} 

#a_company_title {
	position:absolute;
	height: var(--div-button-height);
	
	margin-top: 20px;
	margin-left: var(--item-margin-left);
	
	font-size: 24px;
	font-weight: 600;
}

#btn_company_add {
	margin-top: 20px;
	margin-right: var(--item-margin-left);
	float: right;
   
    background-image: url("../image/btn_admin_리스트추가.png");
}

#div_company_list_title_search {
	position:absolute;
	width: calc(var(--div-company-list-title-width) - 30px);
    height: var(--company-item-in-height);
    
	top: calc(var(--div-button-height) + 50px);
	left: var(--item-margin-left);
    
    padding: 2px 15px;
    
    border: 1px;
    border-style: solid;
    border-radius: 20px;
}

#in_company_search {
	width: calc(var(--div-company-list-title-width) - var(--company-item-height) - 45px);
    height: var(--company-item-in-height);
    
    margin-top: calc((var(--company-item-height) - 35px) / 2);
    margin-right: 5px;
    
    padding-left: 15px;
    
    border: 0px;
    border-style: solid;
    
    float: left;
    
}

#div_company_search {
	width: var(--company-item-in-height);
	height: var(--company-item-in-height);
	
	float: right;
	
	background-image: url("../image/search_icon.png");
	cursor: pointer;
}

#div_company_list_item_title {
	position: absolute;
	top: calc(110px + var(--div-button-height));
	background-color: #8da4b9;
	
	margin-left: var(--item-margin-left);
}

.a_company_list_title_num {
	width: var(--div-company-list-title-num-width);
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    display: block;
    float: left;
    
    text-align: center;
    
    color: white;
}

.a_company_list_title_item {
	width: calc(var(--div-company-list-title-width) - var(--div-company-list-title-num-width));
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    display: block;
    float: left;
    
    text-align: center;
    
    color: white;
}

#div_company_list_title_contents {
	width: var(--div-company-contents-list-width);
	height: 560px;
	font-size: 14px;
}

#div_company_list_contents {
	width: var(--div-company-list-title-width);
	height: 550px;
	margin-left: var(--item-margin-left);
	
	overflow: auto;
}

.a_company_num {
	width: var(--div-company-list-title-num-width);
	height: var(--company-item-height);
	line-height: var(--company-item-height);
    
    display: block;
    float: left;
    
    text-align: center;
    
    cursor: pointer;
}

.a_company_item_title {
	width: calc(var(--div-company-list-title-width) - var(--div-company-list-title-num-width) - 15px);
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    padding-left: 15px;
    
    display: block;
    float: left;
    
     /* ... */
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
    
    cursor: pointer;
}

.div_company_divide_line {
	width: var(--div-company-list-title-width);
    height: 1px;
    
    background-color: #e9e9e9;
}

#div_company_list_bottom {
    height: 55px;
    
    border-radius: 0px 0px 20px 20px;
}



#div_contents_detail {
	position:absolute;
	width: var(--div-company-contents-detail-width);
	left: 315px;
	
	margin-top: var(--company-margin-top);
    margin-left: var(--company-margin-left);
}

.div_company_detail {
    background-color: white;
    height: 442px;
}

#div_company_detail_map {
	width: var(--div-company-contents-detail-width);
    height: 562px;
    
    border-radius: 20px 20px 0px 0px;
}

#div_company_map {
	position:absolute;
	
	margin-top: 68px;
	margin-left: calc((var(--div-company-contents-detail-width) - 794px) / 2);
}

#img_company_map {
	position:absolute;
    cursor: pointer;
}

#img_company_pin {
	position:absolute;
}

#div_company_flow_btn {
	position: absolute;
	width: 210px; 
	height: var(--div-button-height);
	
	margin-top: 20px;
	margin-left: var(--item-margin-left);
}

#btn_company_flow1{
	background-image: url("../image/btn_admin_1f.png");
}

#btn_company_flow2{
	background-image: url("../image/btn_admin_2f.png");
}

#btn_company_flow3{
	background-image: url("../image/btn_admin_3f.png");
}

#div_company_detail_lang {
	position: absolute;
	width: var(--div-company-contents-detail-width);
    height: 103px;
}

#btn_company_lang {
	position: absolute;
	width: 280px; 
	height: var(--div-button-height);
	
	margin-top: 20px;
	margin-left: var(--item-margin-left);
}

#div_company_detail_contents {
	width: var(--div-company-contents-detail-width);
	margin-top: 103px;
	font-size: 14px;
}

#div_company_detail_title {
	position: absolute;
	top: calc(40px + var(--div-button-height));
	
	background-color: #8da4b9;
}

.div_company_detail_title {
	width: var(--div-company-detail-title-width);
   	height: var(--company-item-height);
    
    margin-left: var(--item-margin-left);
}

.div_company_detail_title_ex{
	width: var(--div-company-detail-title-width);
   	height: 107px;
    
    margin-left: var(--item-margin-left);
}

.a_company_detail_title_item {
	width: var(--a-company-detail-title-item-width);
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    float: left;
    
    text-align: center;
    
    color: white;
}

.a_company_detail_title_contents {
	width: calc(var(--div-company-detail-title-width) - var(--a-company-detail-title-item-width));
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    display: block;
    float: left;
    
    text-align: center;
    
    color: white;
}

.a_company_contents_title {
	width: calc(var(--a-company-detail-title-item-width) - 15px);
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    padding-left: 15px;
    
    display: block;
    float: left;
    
    color: #ff5012;
}

.a_company_contents_title_option {
	width: calc(var(--a-company-detail-title-item-width) - 30px);
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    padding-left: 30px;
    
    display: block;
    float: left;
    
}

.div_company_detail_title_contents {
	width: calc(var(--div-company-detail-title-width) - var(--a-company-detail-title-item-width));
    height: var(--company-item-height);
    
    float: left;
}

.div_company_contents_com_cate {
	width: 150px;
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    margin-left: 5px;
    
    display: block;
    float: left;
    
    cursor: pointer;
}

.div_company_contents_com_cate_img {
    width: 20px;
    height: 20px;
    
    margin-top: calc((var(--company-item-height) - 20px) / 2);
    
    border: 1px;
    border-style: solid;
    border-color: #e9e9e9;
    
    display: block;
    float: left;
}

.a_company_contents_com_cate_text {
    margin-left: 10px;
    
    display: block;
    float: left;
    
    text-align: center;
}

.in_company_contents {
	width: 565px;
    height: var(--company-item-in-height);
    
   	margin-top: calc((var(--company-item-height) - var(--company-item-in-height)) / 2);
    margin-right: 5px;
    
    padding-left: 15px;
}

.in_company_contents_ex {
	width: 165px;
    height: 100px;
    
   	margin-top: calc((var(--company-item-height) - var(--company-item-in-height)) / 2);
    margin-right: 25px;
    
    font-size: 24px;
    
    padding-left: 15px;
    
    resize: none;
    float: left;
}

.txt_comname{
	margin-right: 20px;
	float: left;
	height: var(--company-item-height);
	line-height: var(--company-item-height);
}

#comname_midline{
	width: 1px;
	height: 100px;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: calc((var(--company-item-height) - var(--company-item-in-height)) / 2);
	background-color: #ebebeb;
	float: left;
}

.sel_company_contents_name{
	float: left;
	width: 75px;
	margin-top: calc(((var(--company-item-height) - var(--company-item-in-height)) / 2) + 3px);
}



.a_company_contents_title_logo {
	width: calc(var(--div-company-detail-title-width) - var(--a-company-detail-title-item-width) - 15px - 150px);
    height: calc(var(--company-item-in-height) - 3px);
    
    margin-top: calc((var(--company-item-height) - var(--company-item-in-height)) / 2);
    margin-right: 5px;
    
    padding-left: 15px;
    padding-top: 3px;
    
    display: block;
    float: left;
    
    background-color: #ebebeb;
}

#btn_company_contents_title_logo {
	width: 130px;
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    margin-left: 10px;
    
    padding: 2px 15px;
    
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    
    text-align: center;
    
    cursor: pointer;
}

.in_company_contents_busi {
	width: 105px;
    height: var(--company-item-in-height);
    
    margin-top: calc((var(--company-item-height) - var(--company-item-in-height)) / 2);
    margin-right: 10px;
    
    padding-left: 15px;
    float: left;
}

.a_company_detail_right {
	width: var(--div-company-detail-title-width);
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    margin-top: 5px;
    padding-bottom: 25px;
    
    display: block;
    
    text-align: right;
}

.in_company_contents_title {
	width: calc(var(--a-company-detail-title-item-width) - 15px);
    height: 35px;
    
    margin-top: calc((var(--company-item-height) - 35px) / 2);
    margin-left: 5px;
    margin-right: 10px;
    
    padding-left: 15px;
    
}

.div_company_detail_divide_line {
	width: var(--div-company-detail-title-width);
    height: 1px;
    
    margin-left: var(--item-margin-left);
    
    background-color: #e9e9e9;
}

.div_company_detail_divide_bold_line {
	width: calc(100% - 30px);
    height: 3px;
    margin-left: var(--item-margin-left);
    background-color: #8da4b9;
    
    
}

#btn_company_contents_insert {
    color: white;
    background-color: blue;
}

#btn_company_contents_cancel {
    color: white;
    background-color: red;
}

.btn_company_contents_bottom {
	width: 130px;
    height: var(--company-item-height);
    line-height: var(--company-item-height);
    
    padding: 2px 15px;
    
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    
    text-align: center;
    
    cursor: pointer;
}

#div_company_detail_bottom {
	width: var(--div-company-contents-detail-width);
    height: 123px;
    
    border-radius: 0px 0px 20px 20px;
    font-size: 14px;
}

#div_btn_bottom_contain{
	width: 186px;
    height: var(--div-button-height);
    margin-left: calc((var(--div-company-contents-detail-width) - 186px) / 2);
}

#btn_company_save {
	background-image: url("../image/btn_추가.png");
}

#btn_company_cancleNdel {
}