@charset "UTF-8";

:root {
	--event-top-height: 106px;
	
	--event-margin-top: 45px;
	--event-margin-left: 15px;
	
	--event-item-height: 35px;
	--event-item-in-height: 28px;
	
	--item-margin-left: 15px;
	
	--div-event-contents-list-width: 300px;
	--div-event-title-top: calc(75px + var(--event-margin-top));
	
	--div-event-list-title-width: calc(var(--div-event-contents-list-width) - (var(--item-margin-left) * 2));
	--div-event-list-title-num-width: 50px;
	
	--div-event-contents-detail-width: 790px;

	--div-event-detail-title-width: calc(var(--div-event-contents-detail-width) - (var(--item-margin-left) * 2));
	--a-event-detail-title-item-width: 180px;
}

#div_event_black{
	width : 100%;
	height : 100%;
	
	position: absolute;
	margin-left: var(--side-width);
	margin-top: var(--top-height);
	
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1;
}

#div_contents_list {
	position:absolute;
	width: var(--div-event-contents-list-width);
	
	margin-top: var(--event-margin-top);
    margin-left: var(--event-margin-left);
}

.div_event_list {
    background-color: white;
    font-size: 16px;
}

#div_event_list_top {
	width: var(--div-event-contents-list-width);
    height: var(--event-top-height);
    
    border-radius: 20px 20px 0px 0px;
}

#div_event_list_contents {
	width: var(--div-event-contents-list-width);
}

#a_event_title {
	position:absolute;
	height: var(--div-button-height);
	
	margin-top: 20px;
	margin-left: var(--item-margin-left);
	
	font-size: 24px;
	font-weight: 600;
}

#btn_event_add {
    margin-top: 20px;
	margin-right: var(--item-margin-left);
	float: right;
   
    background-image: url("../image/btn_admin_리스트추가.png");
}

#div_event_list_title {
	position: absolute;
	top: calc(40px + var(--div-button-height));
	background-color: #8da4b9;
}

.div_event_list_title {
	width: var(--div-event-list-title-width);
    height: var(--event-item-height);
    
    margin-left: var(--item-margin-left);
}

.a_event_foundation_info{
	background-color: #ebebeb;
	
	width: var(--div-event-list-title-width);
    height: 20px;
    padding-top: calc((20px - var(--event-item-in-height)) / 2);
    
    margin-left: var(--item-margin-left);
    text-align: center;
}

.a_event_list_title_num {
	width: var(--div-event-list-title-num-width);
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    display: block;
    float: left;
    
    text-align: center;
    
    color: white;
}

.a_event_list_title_item {
	width: calc(var(--div-event-list-title-width) - var(--div-event-list-title-num-width));
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    display: block;
    float: left;
    
    text-align: center;
    
    color: white;
}

.a_event_num {
	width: var(--div-event-list-title-num-width);
	height: var(--event-item-height);
	line-height: var(--event-item-height);
    
    display: block;
    float: left;
    
    text-align: center;
}

.a_event_item_title {
	width: calc(var(--div-event-list-title-width) - var(--div-event-list-title-num-width) - 15px);
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    padding-left: 15px;
    
    display: block;
    float: left;
    
     /* ... */
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}

.div_event_divide_line {
	width: var(--div-event-list-title-width);
    height: 1px;
    
    margin-left: var(--item-margin-left);
    
    background-color: #e9e9e9;
}

#div_event_list_bottom {
    height: 55px;
    
    border-radius: 0px 0px 20px 20px;
}

#div_contents_detail {
	position:absolute;
	width: var(--div-event-contents-detail-width);
	left: 315px;
	
	margin-top: var(--event-margin-top);
    margin-left: var(--event-margin-left);
}

/* 이벤트 미리보기 */
#div_event_detail{
	position: absolute;
	width: 900px;
	height: 890px;
	top: 150px;
	left: 45px;
	background-image: url("../image/event_detail_미리보기.png");
	display: none;
	z-index: 2;
}

#event_cate_detail{
	margin-top: 5px;
	float: left;
}

#event_title_detail{
	position: absolute;
	width: 690px;
	height: 30px;
	left: 130px;
	color: #424f7b;
	font-weight: 700;
	font-size: 21px;
}

#event_poster_detail{
	position: absolute;
	width: 278px;
	height: 395px;
	top: 145px;
	left: 40px;
	border: 2px solid #e2e2e2
}

#event_poster_detail img{
	width: 278px;
	height: 395px;
	object-fit: cover;
}

.event_sub_info_detail{
	margin-bottom: 10px;
	font-size: 17px;
	height: 20px;
}

.event_info_text{
	font-weight: 700;
	width: 105px;
	float: left;
	color: #3a3a90;
}

.event_info_text_detail{
	font-weight: 700;
	width: 105px;
	float: left;
	color: #3a3a90;
}

.event_info_body_detail{
	position: absolute;
	width: 372px;
	height: 20px;
	left: 125px;
}

/* -- */

.div_event_detail {
    background-color: white;
}

#div_event_detail_top {
	width: var(--div-event-contents-detail-width);
    height: var(--event-top-height);
    
    border-radius: 20px 20px 0px 0px;
}

#div_event_detail_contents {
	width: var(--div-event-contents-detail-width);
}

#btn_event_lang {
	position: absolute;
	width: 320px; 
	height: var(--div-button-height);
	
	margin-top: 20px;
	margin-left: var(--item-margin-left);
}

#btn_event_kr{
	background-image: url("../image/btn_admin_2_kr.png");
}

#btn_event_en{
	background-image: url("../image/btn_admin_2_en.png");
}

#btn_event_ch{
	background-image: url("../image/btn_admin_2_ch.png");
}

#btn_event_jp{
	background-image: url("../image/btn_admin_2_jp.png");
}

#div_event_detail_title {
	position: absolute;
	top: calc(40px + var(--div-button-height));
	
	background-color: #8da4b9;
}

.div_event_detail_title {
	width: var(--div-event-detail-title-width);
    height: var(--event-item-height);
    
    margin-left: var(--item-margin-left);
}

.a_event_detail_title_item {
	width: var(--a-event-detail-title-item-width);
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    float: left;
    
    text-align: center;
    
    color: white;
}

.a_event_detail_title_contents {
	width: calc(var(--div-event-detail-title-width) - var(--a-event-detail-title-item-width));
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    display: block;
    float: left;
    
    text-align: center;
    
    color: white;
}

.a_event_contents_title {
	width: calc(var(--a-event-detail-title-item-width) - 15px);
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    padding-left: 15px;
    
    display: block;
    float: left;
    
    
    color: #ff5012;
}

.div_event_detail_title_contents {
	width: calc(var(--div-event-detail-title-width) - var(--a-event-detail-title-item-width));
    height: var(--event-item-height);
    
    float: left;
}

.div_event_contents_found_cate {
	width: 125px;
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    display: block;
    float: left;
    
    cursor: pointer;
}

.div_event_contents_found_cate_img {
    width: 20px;
    height: 20px;
    
    margin-top: calc((var(--event-item-height) - 20px) / 2);
    
    border: 1px;
    border-style: solid;
    border-color: #e9e9e9;
    
    display: block;
    float: left;
}

.a_event_contents_found_cate_text {
    margin-left: 10px;
    
    display: block;
    float: left;
    
    text-align: center;
}

.in_event_contents {
	width: calc(var(--div-event-detail-title-width) - var(--a-event-detail-title-item-width) - 15px);
    height: var(--event-item-in-height);
    
   	margin-top: calc((var(--event-item-height) - var(--event-item-in-height)) / 2);
    margin-right: 5px;
    
    padding-left: 15px;
    
}

.a_event_contents_title_poster {
	width: calc(var(--div-event-detail-title-width) - var(--a-event-detail-title-item-width) - 15px - 150px);
    height: var(--event-item-in-height);
    
    margin-top: calc((var(--event-item-height) - var(--event-item-in-height)) / 2);
    margin-right: 5px;
    
    padding-left: 15px;
    
    display: block;
    float: left;
    
    
    background-color: #ebebeb;
}

#btn_event_contents_title_poster {
	width: 130px;
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    margin-left: 10px;
    
    padding: 2px 15px;
    
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    
    text-align: center;
    
    cursor: pointer;
}

.in_event_contents_day {
	width: 100px;
    height: var(--event-item-in-height);
    
    margin-top: calc((var(--event-item-height) - var(--event-item-in-height)) / 2);
    
    padding-left: 5px;
    
    text-align: center;
}

.in_event_contents_time {
	width: 40px;
    height: var(--event-item-in-height);
    
    margin-top: calc((var(--event-item-height) - var(--event-item-in-height)) / 2);
    
    padding-left: 15px;
    
    text-align: center;
}

.a_event_contents_time_separator {
	margin-left: 10px;
	margin-right: 10px;
	
}

.in_event_contents_manager {
	width: var(--div-event-contents-list-width);
    height: var(--event-item-in-height);
    
    margin-top: calc((var(--event-item-height) - var(--event-item-in-height)) / 2);
    margin-right: 5px;
    
    padding-left: 15px;
    
}

.in_event_contents_tel {
	width: calc(565px - var(--div-event-contents-list-width) - 66.34px);
    height: var(--event-item-in-height);
    
    margin-top: calc((var(--event-item-height) - var(--event-item-in-height)) / 2);
    margin-right: 15px;
    
    padding-left: 15px;
    
    float: right;

}

.a_event_detail_right {
	width: var(--div-event-detail-title-width);
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    margin-top: 5px;
    padding-bottom: 25px;
    
    display: block;
    
    text-align: right;
}

.in_event_contents_title {
	width: calc(var(--a-event-detail-title-item-width) - 15px);
     height: var(--event-item-in-height);
    
    margin-top: calc((var(--event-item-height) - var(--event-item-in-height)) / 2);
    margin-left: 5px;
    margin-right: 10px;
    
    padding-left: 15px;
    
}

.div_event_detail_divide_line {
	width: var(--div-event-detail-title-width);
    height: 1px;
    
    margin-left: var(--item-margin-left);
    
    background-color: #e9e9e9;
}

.div_event_detail_divide_bold_line {
	width: var(--div-event-detail-title-width);
    height: 3px;
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: var(--item-margin-left);
    
    background-color: #8da4b9;
}

#btn_event_contents_insert {
    color: white;
    background-color: blue;
}

#btn_event_contents_cancel {
    color: white;
    background-color: red;
}

/* .btn_event_contents_bottom {
	width: 130px;
    height: var(--event-item-height);
    line-height: var(--event-item-height);
    
    padding: 2px 15px;
    
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    
    text-align: center;
    
    cursor: pointer;
} */

#div_event_detail_bottom {
	width: var(--div-event-contents-detail-width);
    height: 55px;
    border-radius: 0px 0px 20px 20px;
}

#div_btn_bottom_contain{
	width: 279px;
    height: var(--div-button-height);
    margin-left: calc((var(--div-event-contents-detail-width) - 269px) / 2);
}

#btn_event_preview {
    background-image: url("../image/btn_admin_미리보기.png");
}

#btn_event_save {
	background-image: url("../image/btn_추가.png");
}

#btn_event_cancleNdel {
}

#div_event_preview_con{
	position: absolute;
	
	width : calc(100% - var(--side-width));
	height : calc(100% - var(--top-height));
}

#div_event_preview{
	position: absolute;
	
	width: 900px;
    height: 890px;
    top: 10px;
    left: 10px;
	
	background-image: url("../image/event_detail_미리보기.png");
}