@charset "UTF-8";

:root {
	--full-width: 1900px;
	
	--side-width: 190px;
	
	--top-height: 60px;
	
	--div-button-width: 83px;
	--div-button-s-width: 70px;
	--div-button-height: 28px;
}

.font_jp { /* 일본어 사용시 일본어 글꼴 */
    font-family: 'Noto Sans JP', sans-serif;
}
.font_kr { /* 한국어 사용시 한국어 글꼴 */
    font-family: 'Noto Sans KR', sans-serif;
}

body {
	width: 100%;
    height: 100%;
    overflow: auto;
    
    margin: 0;
	padding: 0;
    
    background-color: #3c3d44;
} 

#div_side {
	position:absolute;
	width: var(--side-width);
    height: 100%;
    /* float: left; */
    
    background-color: #3c3d44;
}

#div_img_logo{
	position:absolute;
	width: 165px;
    height: 82px;
    top: 20px;
    left: 7.5px;
    
    background-image: url('../image/청주시청 로고.png');
}

#div_project_name{
	position:absolute;
	width: var(--side-width);
    height: 20px;
    top: 112px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    
    text-align: center;
}

#div_side_menu{
	position: absolute;
	width: var(--side-width);
    height: 20px;
    top: 162px;
}

.div_side_line{
	width: var(--side-width);
    height: 1px;
	background-color: black;
}

.div_side_menu {
	width: var(--side-width);
    height: 35px;
    padding-left: 25px;
    
    color: white;
    font-size: 14px;
    font-weight: 600;
    
    display:table-cell;
    vertical-align:middle;
    
    background-color: #3c3d44;
}

#div_top {
	position:absolute;
	width: calc(100% - var(--side-width));
    height: var(--top-height);
	left: var(--side-width);
	
	min-width: 1150px;
	
	background-color: #0062bd;
}

#div_top_item {
	display: inline-block;
	height: var(--top-height);
	text-align: right;
	float: right;
	padding-right: 20px;
	
	color: white;
}

#div_user_icon{
	position:absolute;
	width: 30px;
	height: 30px;
	top: 15px;
	float: left;
	
	background-image: url("../image/icon_masteruser.png");
}

#div_user_auth{
	position: relative;
	top: 15px;
	margin-left: 50px;
	margin-top: 4.5px;
	float: left;
	
	display: inline-block;
	display:table-cell;
    vertical-align:middle;
}
#div_user_name{
	position: relative;
	top: 15px;
	margin-left: 20px;
	margin-top: 4.5px;
	float: left;
	
	display: inline-block;
	display:table-cell;
    vertical-align:middle;
}

#btn_logout{
	position: relative;
	top: 15px;
	margin-left: 20px;
	margin-top: 4.5px;
	float: left;
	
	display: inline-block;
	display:table-cell;
    vertical-align:middle;
}

#div_contents {
	/* width : calc(100% - var(--side-width));
	height : calc(100% - var(--top-height)); */
	
	width : 100%;
	height : 100%;
	
	position: absolute;
	margin-left: var(--side-width);
	margin-top: var(--top-height);
	
    background-color: #f3f3f3;
}

#div_login {
	position: absolute;
	width: 487px;
    height: 399px;
	
	background-image: url("../image/login_bg.png");
}

 #div_login_contents{
	position: absolute;
	width: 487px;
    height: 416px;
    
    left:50%;
    top:50%;
   	margin-left:-243.5px;
    margin-top:-208px;
}

#div_login_title{
	position: absolute;
	width: 323px;
	height: 25px;
	top: 125px;
	left: 82px;
	text-align: center;
	
	font-size: 22px;
	font-weight: 600;
}

#div_login_ment{
	position: absolute;
	width: 487px;
    height: 17px;
    top: 399px;
    
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

#user_id {
	position: absolute;
	width: 266px;
	height: 45px;
	top: 176px;
	left: 110.5px;
	padding-left: 10px;
	
	font-size: 20px;
}

#user_pw {
	position: absolute;
	width: 266px;
	height: 45px;
	top: 226px;
	left: 110.5px;
	padding-left: 10px;
	
	font-size: 20px;
}

#btn_login {
	position: absolute;
	width: 266px;
    height: 45px;
	top: 291px;
	left: 110.5px;
	
	background-image: url("../image/btn_login.png");
}

#div_main {
	position:absolute;
	width: 100%;
    height: 100%;
}

#div_btn_set_contain{
	width: 186px; 
	height: var(--div-button-height);
	margin-top: 3.5px;
	float: right;
}

.div_button_set{
 	margin-right: 10px;
 	float: left;
}

.div_button {
	width: var(--div-button-width);
    height: var(--div-button-height);
    
    cursor: pointer;
}

.div_button_s {
	width: var(--div-button-s-width);
    height: var(--div-button-height);
    float: left;
    
    cursor: pointer;
}

