@charset "UTF-8";

:root {
	--div-notice-top-width: 1540px;
	
	--notice-top-height: 170px;
	
	--notice-margin-top: 45px;
	--notice-margin-left: 30px;
	
	--notice-item-height: 45px;
	
	--item-margin-left: 25px;
	
	--div-notice-title-width: calc(var(--div-notice-top-width) - (var(--item-margin-left) * 2));
	
	--a-notice-title-num-width: 80px;
	--a-notice-title-item-width: 1000px;
	
	--div-notice-button-width: 130px;
}

.div_notice {
	width: var(--div-notice-top-width);
	
    margin-left: var(--notice-margin-left);
    
    background-color: white;
}

#div_notice_top {
    height: var(--notice-top-height);
    
    margin-top: var(--notice-margin-top);
}

#a_notice_title {
	position:absolute;
	
	margin-top: 25px;
	margin-left: var(--item-margin-left);
	
	font-size: 48px;
}

#btn_notice_add {
	position:absolute;
	width: 130px;
    height: var(--notice-item-height);
	left: 1385px;
    
    margin-top: 35px;
    
    font-size: 28px;
}

#div_notice_title {
	position: absolute;
	
	top: calc(110px + var(--notice-margin-top));
	
	background-color: #8da4b9;
}

.div_notice_title {
	width: var(--div-notice-title-width);
    height: var(--notice-item-height);
    
    margin-left: var(--item-margin-left);
    
    padding-top: 5px;
    padding-bottom: 5px;
}

.a_notice_title_num {
	width: var(--a-notice-title-num-width);
	height: var(--notice-item-height);
    line-height: var(--notice-item-height);
    
    display: block;
    float: left;
    
    font-size: 28px;
    text-align: center;
    
    color: white;
}

.a_notice_title_item {
	width: var(--a-notice-title-item-width);
    height: var(--notice-item-height);
    line-height: var(--notice-item-height);
    
    display: block;
    float: left;
    
    font-size: 28px;
    text-align: center;
    
    color: white;
}

.a_notice_num {
	width: var(--a-notice-title-num-width);
	height: var(--notice-item-height);
    line-height: var(--notice-item-height);
    
    display: block;
    float: left;
    
    font-size: 28px;
    text-align: center;
}

.a_notice_item_title {
	width: calc(var(--a-notice-title-item-width) - 15px);
    height: var(--notice-item-height);
    line-height: var(--notice-item-height);
    
    padding-left: 15px;
    
    display: block;
    float: left;
    
    font-size: 28px;
}

.div_notice_item_input {
	width: var(--div-notice-title-width);
    
    margin-left: var(--item-margin-left);
    
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color:#e9e9e9;
}

.div_notice_item_lang {
    padding-top: 5px;
}

.in_notice_item {
	width: var(--a-notice-title-item-width);
    height: var(--notice-item-height);
    line-height: var(--notice-item-height);
    
    margin-right: 5px;
    
    padding-left: 15px;
    
    font-size: 28px;
    
    color: black;
    background-color: white;
}

.div_notice_button {
	width: var(--div-notice-button-width);
    height: var(--notice-item-height);
    line-height: var(--notice-item-height);
    
    margin-right: 10px;
    
    font-size: 28px;
}

.div_notice_divide_line {
	width: var(--div-notice-title-width);
    height: 1px;
    
    margin-left: var(--item-margin-left);
    
    background-color: #e9e9e9;
}

#div_notice_bottom {
    height: 70px;
}